{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Twister</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
</head>
<body>
<div class="shell">
    <div class="border">
        <div id="navigation">
            <ul>
                <li><a href="/" class="active">Главная</a></li>
                <li><a href="/admin">Админ панель</a></li>
            </ul>
        </div>

        <div id="main">
            <div id="content" class="left">
                <div class="projects">
                    <h3>Последние записи</h3>
                    {% for post in post_list %}
                    <div class="item">
                        <div class="image left">
                            <a href="{{ post.id }}">
                                <img src="{{ post.img.url }}" alt="{{ post.title }}" />
                            </a>
                        </div>
                        <div class="text left">
                            <h4><a href="{{ post.id }}">{{ post.title }}</a></h4>
                            <p>{{ post.description }}</p>
                            <p class="post-meta">
                                <span class="author">Автор: {{ post.author }}</span>
                                <span class="likes">❤ {{ post.likes_set.all.count }}</span>
                                <span class="comments">💬 {{ post.comments_set.all.count }}</span>
                            </p>
                        </div>
                        <div class="cl">&nbsp;</div>
                    </div>
                    {% empty %}
                    <div class="no-posts">
                        <p>Нет доступных записей.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
            <div class="cl">&nbsp;</div>
        </div>
    </div>
    
    <div id="footer">
        <p class="copy right">Copyright &copy; {% now "Y" %} Twister</p>
    </div>
</div>
</body>
</html>